<li class="nav-item">
    <a href="{% url 'student_home' %}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'student_view_attendance' %}" class="nav-link">
        <i class="nav-icon fas fa-calendar-check"></i>
        <p>View Attendance</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'student_apply_leave' %}" class="nav-link">
        <i class="nav-icon fas fa-calendar-times"></i>
        <p>Apply Leave</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'student_feedback' %}" class="nav-link">
        <i class="nav-icon fas fa-comment"></i>
        <p>Feedback</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'student_view_result' %}" class="nav-link">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>View Result</p>
    </a>
</li>