<li class="nav-item">
    <a href="{% url 'staff_home' %}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'staff_take_attendance' %}" class="nav-link">
        <i class="nav-icon fas fa-check-square"></i>
        <p>Take Attendance</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'staff_update_attendance' %}" class="nav-link">
        <i class="nav-icon fas fa-edit"></i>
        <p>Update Attendance</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'staff_apply_leave' %}" class="nav-link">
        <i class="nav-icon fas fa-calendar-times"></i>
        <p>Apply Leave</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'staff_feedback' %}" class="nav-link">
        <i class="nav-icon fas fa-comment"></i>
        <p>Feedback</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'staff_add_result' %}" class="nav-link">
        <i class="nav-icon fas fa-file-alt"></i>
        <p>Add Result</p>
    </a>
</li>