<li class="nav-item">
    <a href="{% url 'admin_home' %}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_staff' %}" class="nav-link">
        <i class="nav-icon fas fa-chalkboard-teacher"></i>
        <p>Add Staff</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_course' %}" class="nav-link">
        <i class="nav-icon fas fa-book"></i>
        <p>Add Course</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_session' %}" class="nav-link">
        <i class="nav-icon fas fa-calendar-alt"></i>
        <p>Add Session Year</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_student' %}" class="nav-link">
        <i class="nav-icon fas fa-user-graduate"></i>
        <p>Add Student</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'add_subject' %}" class="nav-link">
        <i class="nav-icon fas fa-book-open"></i>
        <p>Add Subject</p>
    </a>
</li>